<p><img src="http://en.gravatar.com/userimage/47362061/4b14e15df61e73958e373572e9e11887.png" alt="Versitech" title="Check out our page on Github."  class="img-rounded floatLeft" />			
Welcome !</p>
<p>If you find yourself gracing our website then chances are that you are experiencing some sort of technological problem. Well, the good news is we are here to help with your computer and mobile device headaches.</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=versitech&repo=versitech.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=versitech&repo=versitech.github.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/mturkson23" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @mturkson23</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/versitech" rel="me" class="social github" title="Go to github.com/versitech" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/mturkson23" rel="me" class="social twitter" title="Go to twitter.com/mturkson23" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/118168914024503223439" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
	  <li><a href="https://github.com/versitech/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Versified Technologies"  target="_blank"></a></li>				
	</ul>
</p>
