<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://versitech.github.io">Versified Technologies</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://versitech.github.io">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://github.com/versitech" target="_blank">GitHub</a>
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.twitter.com/mturkson23" title="Go to twitter.com/mturkson23" target="_blank">Twitter</a>  
		  </li>				  			  
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://feeds.feedburner.com/github/xmyo" title="Go to feedburner" target="_blank">RSS</a>  
		  </li>	
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="https://github.com/versitech/" title="Check out some project bi like that" target="_blank">S0me project</a></li>	
				</ul>
			  </li>		  
		<li class="divider-vertical"></li>
		<li class="">
			<a href="http://versitech.github.io/" title="Go here go see some more">An0ther Project bi</a>
		  </li>	
		</ul>		
	  </div>
	</div>
  </div>
</div>
